<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<div class="main_section">
   <div class="container">
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
       <div class="row">
            <div class="member_list">
               <ul class="list-unstyled">
								<% current_user.chatrooms.each do |chatroom| %>
                  <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="img-circle">
                     </span>
                     <div class="chat-body clearfix">
                        <div class="header_sec">
                           <strong class="primary-font"><%= link_to(chatroom.name, chatroom,data: {behavior: "link-chatroom", chatroom_id: chatroom.id} ) %></strong> 
                           <strong class="pull-right">
                            <%= get_time(chatroom.updated_at)  %></strong>
                        </div>
                        <div class="contact_sec">
                           <span class="badge pull-right" data-behavior="count" data-chatroom-id='<%=chatroom.id%>'></span>
                        </div>
                     </div>
                  </li>

								<% end %>
               </ul>
            </div></div>
         </div>
         <!--chat_sidebar-->
     
     
    <div class="col-sm-9 message_section">
     <div class="row">
     <div class="new_message_head">
        <div class="pull-left">
         <%= link_to('<i class="fa fa-plus-square-o"></i> New Chatroom'.html_safe, new_chatroom_path ) %>
         </div>
     </div><!--new_message_head-->
     
     <div class="chat_area" data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
     <ul class="list-unstyled">
     		<% @messages.each do |message| %>
        <li class="left clearfix">
					 <%= render message %>
          </li>
        <% end %>
      </ul>
     </div><!--chat_area-->
	    <%= form_for [@chatroom, Message.new] do |f| %>
		     <div class="message_write">
					 <%= f.text_area :body,class: "form-control", rows: 1 %>
			     <div class="clearfix"></div>
		     </div>
	    <% end %>
     </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>